<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaini.teachingmanager.mapper.CategoryTypeMapper">
  <resultMap id="BaseResultMap" type="com.kaini.teachingmanager.pojo.CategoryType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="category_id" jdbcType="BIGINT" property="categoryId" />
    <id column="lesson_id" jdbcType="BIGINT" property="lessonId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="category_resource" jdbcType="VARCHAR" property="categoryResource" />
  </resultMap>
</mapper>