<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaini.teachingmanager.mapper.FileMapper">
  <resultMap id="BaseResultMap" type="com.kaini.teachingmanager.pojo.File">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="visit_url" jdbcType="VARCHAR" property="visitUrl" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
  </resultMap>
</mapper>