<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaini.teachingmanager.mapper.PointMapper">
  <resultMap id="BaseResultMap" type="com.kaini.teachingmanager.pojo.Point">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="point_id" jdbcType="BIGINT" property="pointId" />
    <result column="point_name" jdbcType="VARCHAR" property="pointName" />
    <result column="point_desc" jdbcType="VARCHAR" property="pointDesc" />
    <result column="point_importance" jdbcType="BIGINT" property="pointImportance" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
  </resultMap>
</mapper>